<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container-fluid text-center">
    <div><h2>Administrar Usuarios</h2></div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PRIORIDAD</th>
                    <th scope="col">ESTADO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}">Default</td>
                    <td th:text="${usuario.email}">Default</td>
                    <td th:text="${usuario.nombre}">Default</td>
                    <td th:text="${usuario.prioridad}">Default</td>
                    <td th:text="${usuario.estado}">Default</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



</body>

</html>